body{
    background-color:aliceblue;
}

.header4{
    font-family : Impact, sans-serif;
    margin-top : 120px;
    text-align : center;
    color : brown;
}

.edu{
    font-size: 20px;
    font-family:Arial;
    text-align : right;
    list-style-type: none;
    background-color: black;
    border : 2px solid orange;
    
}
.edu1{
    float :right;
    width : fit-content;
    margin-top: 1px;
    margin-bottom: 80px;
}

.edu2{
    font-size : 18px;
    font-family : Arial;
    color : black;
}
.term{
    background-color : orange;
}
a{
    color : yellowgreen;
}
a:hover{
    color :lightgreen;
}
a:active{
    color : darkgreen;
}
a:visited{
    color : darkgreen;
}
  
